CLERK_JWKS_URL=
CORS_ORIGINS=
ENVIRONMENT=
GOOGLE_MAPS_API_KEY=
GROQ_API_KEY=
HF_API_KEY=
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=
LLM_MODEL=
MILVUS_DB_PATH=
MONGODB_URL=
ORS_API_KEY=
POSTGRES_URL=
TAVILY_API_KEY=
